* {
    font-family: "Maven Pro", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {}

#menu {
    display: none;
}



#desktop_menu {
    width: 100%;
    background-color: white;
    box-shadow: 0px 5px 8px #323232;
    position: fixed;
    top: 0;
    left: 0;
    list-style: none;
    z-index: 10000;
    /* display: flex !important;
    justify-content: space-between !important; */
}

.list {
    display: flex;
    float: right;
}

#desktop_menu li {
    padding: 20px;
    list-style: none;

}

#desktop_menu li:hover {
    background-color: #0008ff;

}

#desktop_menu li:hover a {
    color: #fff;
}

#desktop_menu li a {
    text-decoration: none;
    font-weight: 600;
    color: #323232;
    font-size: 20px;
}

.brand_name {
    display: flex;
    align-items: center;
    margin: 12px 10px;
    float: left;
}

.brand_name a {
    font-size: 30px;
    text-decoration: none;
    color: #06f;
    font-weight: 600;
}

.my_project {
    padding-left: 80px;
    padding-right: 55px;
    box-sizing: border-box;
    margin-top: 30px;

}

#projects {
    text-align: center;
    margin-top: 20px;
    font-weight: 600;
    font-size: 40px;
}


#boxes {
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;

}

.about #h1 {
    text-align: center;
    /* margin-top: 10px; */
    font-weight: 600;
    font-size: 40px;
}

#cube1,
#cube2,
#cube3,
#cube4 {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 300px;
    width: 300px;
    margin: 10px;
    border-radius: 10px;
    border-bottom: 5px solid #06f;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column
}

/* CUBE 1 TEXT AND ICON */
#cube1 h1 {
    text-align: center;
}

#cube1 h6 {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
    color: #929696;
}

#icon1 {
    font-size: 70px;
    color: #0080ff;
}

/* CUBE 2 TEXT AND ICON */
#cube2 h1 {
    text-align: center;
}

#cube2 h6 {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
    color: #929696;
}

#icon2 {
    font-size: 70px;
    color: #0080ff;
}

/* CUBE 3 TEXT AND ICON */
#cube3 h1 {
    text-align: center;
}

#cube3 h6 {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
    color: #929696;
}

#icon3 {
    font-size: 70px;
    color: #0080ff;
}

/* CUBE 4 TEXT AND ICON */
#cube4 h1 {
    text-align: center;
}

#cube4 h6 {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
    color: #929696;
}

#icon4 {
    font-size: 70px;
    color: #0080ff;
}

.circle {
    height: 100px;
    width: 100px;
    background-color: #3fc8f23b;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.collum{
    width: 25%;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
}

.project{
    width: 100%;
    height: 200px;
    /* border: 1px solid red; */
    text-align: center;
   padding: 10px;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   border-radius: 10px;
}

.row_three{
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    box-sizing: border-box;
}
.row_four{
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}
.user{
    width: 100%;
    height: auto;
    padding: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    box-sizing: border-box;
}
.col_three{
    width: 33.33%;
    height: auto;
    padding: 20px;
}

.user_top{
    display: flex;
}
.user_name h2{
    padding: 0 20px;
}
.user_name{
    display: flex;
    align-items: center;
}
.user_top img{
    height: 50px;
    width: 50px;
}
.user_bottom p{
    font-size: 16px;
    text-align: justify;
}

.project_name{
    background-color: #ccc;
}
.project_name a{
   text-decoration: none;
   color: black;
}
@media (max-width:992px) {
    #desktop_menu {
        display: none;
    }

    .slicknav_menu {
        display: block;
    }
}

/* #boxes{
    flex-direction: column;
    align-items: center;
} */

.row_two{
    width: 100%;
    display: flex;
}
.call_left{
    width: 50%;
    /* height: 470px; */
    display: flex;
    justify-content: center;
    /* float: left; */
    box-sizing: border-box;
    padding: 30px;
    /* align-items: center; */
}
.call_left img{
    height: 300px;
}
.call_right{
    box-sizing: border-box;
    width: 50%;
    padding: 30px;
}
.call_right label{
    font-size: 18px;
    font-weight: bold;
}
.call_right h1{
   text-align: center;
}

.progress_box{
    width: 100%;
    background-color: #ddd;
    height: 20px;
    margin-bottom: 20px;
}
.progress_bar_html{
    width: 0%;
    background-color: green;
    height: 20px;
    text-align: center;
}
.progress_bar_css2{
    width: 0%;
    background-color: red;
    height: 20px;
    text-align: center;
}
.progress_bar_css3{
    width: 0%;
    background-color: yellow;
    height: 20px;
    text-align: center;
}
.progress_bar_js{
    width: 0%;
    background-color: blue;
    height: 20px;
    text-align: center;
}
.progress_bar_cpp{
    width: 0%;
    background-color: rgb(196, 51, 196);
    height: 20px;
    text-align: center;
}

.progress_bar_jq{
    width: 0%;
    background-color: orange;
    height: 20px;
    text-align: center;
}
.progress_box span{
    color: white;

}

.project img{
    height: 150px;
}

@media (min-width:992px) {
    #desktop_menu {
        display: block;
    }

    .slicknav_menu {
        display: none;
    }

    /* #boxes{
        flex-direction: column;
        align-items: center;
    } */
}


/* Tablet */
@media (max-width:800px) {
    #boxes {
        flex-direction: column;
        align-items: center;
    }

    #cube1,
    #cube2,
    #cube3,
    #cube4 {
        width: 565px;

    }
    .row_four{
        flex-direction: column;
     }
     .col_three {
         width: 100%;
     }
     .row_three{
        flex-direction: column;
        align-items: center;
    }
    .collum {
        width: 80%;
        height: 315px;
    }
    .project img {
        height: 250px;
    }
    .project {
        height:auto;
    }
}


/* Mobile */
@media (max-width:600px) {
    #boxes {
        flex-direction: column;
        align-items: center;
    }

    #cube1,
    #cube2,
    #cube3,
    #cube4 {
        width: 300px;

    }
    .call_left{
        width: 50%;
    }
    .call_right{
        width: 50%;
    }    

    .row_two{
        flex-direction: column;
    }
    .call_left{
        width: 100%;
    }
    .call_right{
        flex-direction: column;
        width: 100%;
    }
    .row_four{
       flex-direction: column;
    }
    .col_three {
        box-sizing: border-box;
        width: 100%;
    }

    .row_three{
        flex-direction: column;
    }
    .collum{
        width: 100%;
    }
}


/* Large Screens */
@media (min-width:2560px) {

    #cube1,
    #cube2,
    #cube3,
    #cube4 {
        height: 500px;
        width: 500px;

    }

    #projects {
        font-size: 60px;
    }

    .about #h1 {
        font-size: 60px;
    }

    .circle {
        height: 200px;
        width: 200px;
    }

    #icon1 {
        font-size: 90px;
    }

    #cube1 h1 {
        font-size: 50px;
    }
    #cube2 h1 {
        font-size: 50px;
    }
    #cube3 h1 {
        font-size: 50px;
    }
    #cube4 h1 {
        font-size: 50px;
    }


    #cube1 h6 {
        font-size: 17px;
    }
    #cube2 h6 {
        font-size: 17px;
    }
    #cube3 h6 {
        font-size: 17px;
    }
    #cube4 h6 {
        font-size: 17px;
    }
}